<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <h2>Iniciar Sesión</h2>

    <form method="POST">
      {% csrf_token %}

      <div>
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo" required />
      </div>

      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div>
        <button type="submit">Ingresar</button>
      </div>

      {% if messages %}
      <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </form>
  </body>
</html>
